@import '_normalize';
@import '_variables';

/* Default styles Start */

*,
*::before,
*::after {
	position: relative;
	box-sizing: border-box;
	min-width: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;

	color: var(--clr-heading);
}

button {
	padding: 0;

	cursor: pointer;

	border: 0;
	background-color: transparent;
}

img,
svg,
picture,
video {
	display: block;

	max-width: 100%;
	max-height: 100%;
}

img {
	&:before {
		display: block;

		content: ' ';

		position: absolute;
		left: 0;

		width: 100%;
		height: 100%;

		border: 2px dotted rgb(200 200 200);
		border-radius: 5px;
		background-color: rgb(230 230 230);
	}

	&:after {
		display: block;

		content: '\2612'attr(alt);

		position: absolute;
		top: 50%;
		left: 0;

		width: 100%;

		font-family: FontAwesome;
		font-size: 16px;
		font-style: normal;

		transform: translateY(-50%);
		text-align: center;

		color: rgb(100 100 100);
	}
}

/* default styles End */

/* Global styles Start */

img {
	width: 100%;
	height: 100%;

	object-fit: cover;
	object-position: center;
}

body {
	// min-width without scrollbar
	min-width: calc(var(--width-minimum) - (100vw - 100%));
	height: var(--100vh);

	transition: color 0.5s, background-color 0.5s;

	color: var(--clr-text-1);

	font-family: var(--font-family-default);
	font-size: 100%;
	font-weight: var(--font-weight-default);
	line-height: normal;
	letter-spacing: 0.2px;

	background: var(--clr-bg-0);

	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--font-family-heading);
	font-weight: var(--font-weight-default);

	text-wrap: balance;
}

.container {
	max-width: 1556px;

	padding-inline: 15px;
	margin-inline: auto;
}

.grid-wrapper {
	display: grid;

	grid-template-columns: repeat(var(--breakpoint), 1fr);
	row-gap: clamp(1rem, 8.875vmax, 16vh);
	column-gap: 2rem;
}

section:not(.hero) {
	padding-block: 8.75rem;

	h2 {
		font-size: clamp(2.5rem, 3.375vmax, 5.5rem);

		color: var(--clr-heading);

		& ~ hr {
			width: min(22.8125rem, 80%);
			height: 0.1875rem;

			background: var(--clr-bg-1);
		}

		& ~ p {
			font-size: clamp(1rem, 1.25vmax, 2.5rem);

			color: var(--clr-subheading);
		}
	}
}

.slider {
	&__buttons {
		grid-row: 1;
		grid-column: span 2;

		> div {
			display: flex;
			align-items: flex-end;

			height: 100%;

			column-gap: 2rem;

			> button:nth-child(1) {
				background: var(--clr-slider-button-bg-1);
			}

			> button:nth-child(2) {
				background: var(--clr-slider-button-bg-2);
			}
		}

		button {
			border-radius: 0.75rem;

			padding-inline: 1.25rem;
			padding-block: 0.825rem;
		}

		svg {
			width: clamp(0.625rem, 0.875vmax, 1.25rem);
			height: clamp(1.25rem, 1.785vmax, 2.275rem);
		}
	}
}

/* Global styles End */

.header {
	--header-bg: rgb(10 10 10 / 80%);

	position: fixed;
	z-index: var(--index-header);

	background: linear-gradient(var(--header-bg) 0%, transparent 90%);

	inset: 0 0 auto;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;

		height: var(--header-height);
	}

	a,
	button {
		color: var(--clr-text-2);
	}

	&__sign-up {
		background: var(--clr-bg-1);
		padding: 1.25rem 2rem;
		border-radius: 0.75rem;
	}

	&__logo {
		width: 12rem;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__nav {
		display: flex;

		column-gap: clamp(1rem, 2vmax, 3.25rem);
	}

	&__actions {
		display: flex;
		align-items: inherit;

		column-gap: 2.25rem;
	}

	&__burger {
		display: none;

		width: 3.125rem;
		height: 3.125rem;

		svg {
			fill: white;
			width: 100%;
			height: 100%;
		}
	}
}

.hero {
	--hero-bg-image: url(https://i.imgur.com/zIEWZ4l.png);

	display: flex;
	align-items: center;

	height: var(--100vh);
	padding-top: var(--header-height);

	background: var(--hero-bg-image) no-repeat;
	background-position-x: center;
	background-size: cover;

	&__title {
		grid-column: 1 / span calc(var(--breakpoint) - 3);
		grid-row: 1;

		> * {
			color: var(--clr-text-2);
		}

		h1 {
			font-size: clamp(2.5rem, 6.125vmax, 5.25rem);
		}

		p {
			font-size: clamp(1.125rem, 1.25vmax, 1.725rem);
		}
	}

	&__form {
		grid-column: 1/10;

		&__wrapper {
			display: flex;

			height: clamp(9.5rem, 8.5vmax, 12rem);

			&:before {
				position: absolute;

				width: 50vw;
				height: 100%;

				content: '';

				background: var(--clr-bg-0);

				translate: -99.9% 0;
			}
		}

		label {
			font-size: clamp(1rem, 0.75vmax, 1.25rem);

			text-transform: uppercase;

			color: var(--clr-text-4);
		}

		input {
			font-size: clamp(1rem, 0.75vmax, 1.25rem);

			width: 100%;
			padding-bottom: 0.25rem;

			border: none;
			border-bottom: 1px rgb(0 0 0 / 40%) solid;
			outline: none;
		}

		&-inputs {
			display: grid;
			align-items: center;

			width: 100%;
			padding-right: 6.25rem;

			background: var(--clr-bg-0);

			grid-template-columns: repeat(4, 1fr);
			column-gap: 2.5rem;
		}

		&-accept-button {
			--_width: 10.625rem;

			display: flex;
			align-items: center;

			width: var(--_width);

			color: var(--clr-bg-2);

			font-family: var(--font-family-heading);
			font-size: 2.25rem;
			font-weight: 400;

			background: var(--clr-bg-1);

			column-gap: 0.75rem;
			border-radius: 0 1.25rem 1.25rem 0;
			padding-inline: 1.25rem;

			svg {
				width: 1.3125rem;
			}
		}

		&-input {
			input,
			label {
				transition: color 0.4s, border 0.4s, font-weight 0.2s;
			}

			&:hover {
				label {
					color: var(--clr-heading);
				}

				input {
					border-bottom: 1px var(--clr-heading) solid;
				}
			}

			&:focus-within {
				label {
					font-weight: 500;

					color: var(--clr-text-4-hover);
				}

				input {
					border-bottom: 1px var(--clr-text-4-hover) solid;
				}
			}
		}
	}

	&__slider {
		position: absolute;

		inset: 0 0 0 auto;
		margin-block: auto;
	}
}

.popular {
	&__title {
		grid-column: 1/ -1;
		grid-row: 1;

		&__wrapper {
			display: flex;
			flex-direction: column;

			row-gap: 1rem;
		}
	}

	&__slider {
		&__content {
			grid-column: span var(--breakpoint);

			&__wrapper {
				display: flex;

				column-gap: 2rem;
			}
		}

		&__buttons {
			&__wrapper {
				justify-self: end;
			}
		}

		&__card {
			display: flex;
			overflow: hidden;
			align-items: flex-end;

			min-width: max(20vw, 20rem);
			height: max(50vh, 20rem);

			border-radius: 1.65rem;
		}

		&__card-img {
			position: absolute;

			width: 100%;
			height: 100%;
		}

		&__card-text {
			display: flex;
			flex-direction: column;

			width: 100%;

			color: var(--clr-text-2);
			border-radius: 0 0 1.65rem 1.65rem;
			background: rgb(0 0 0 / 10%);

			gap: 1.0625rem;
			padding-inline: 1.25rem;
			padding-block: clamp(1rem, 1vmax, 2.25rem);
			backdrop-filter: blur(4px);

			h3 {
				font-size: clamp(1.5rem, 1vmax, 1.75rem);
			}

			h4 {
				font-size: clamp(1.125rem, 0.85vmax, 1.5rem);
			}

			svg {
				width: clamp(1.125rem, 1vmax, 1.5rem);
			}
		}

		&__card-location {
			display: flex;

			column-gap: 1rem;
		}
	}
}

.special {
	--button-breakpoint-width: 3;

	&__title {
		grid-column: var(--button-breakpoint-width) / -1;
		grid-row: 1;

		&__wrapper {
			display: flex;
			align-items: flex-end;
			flex-direction: column;

			text-align: end;

			row-gap: 1rem;
		}
	}

	&__slider {
		&__content {
			grid-column: span var(--breakpoint);

			&__wrapper {
				display: flex;

				column-gap: 2rem;
			}
		}

		&__card {
			display: flex;
			overflow: hidden;
			flex-direction: column;
			width: max(30vw, 20rem);
			min-width: max(20vw, 20rem);

			border-radius: 1.65rem 1.65rem 0 0;
			background: var(--clr-bg-2);

			h3 {
				font-size: clamp(1.75rem, 1vmax, 2rem);
			}

			p {
				font-size: clamp(1.125rem, 0.85vmax, 1.5rem);

				display: -webkit-box;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		&__card-img {
			height: clamp(17.5rem, 12.5vmax, 24rem);
		}

		&__card-content {
			display: grid;
			align-items: center;

			grid-template-columns: 1fr auto;
			grid-template-rows: repeat(4, auto);
			grid-template-areas: 'title title ' ' rating rating ' ' text text ' ' price button ';
			padding-block: clamp(1rem, 1.75vmax, 2.5rem);
			padding-inline: clamp(1.5rem, 1vmax, 2rem);
		}

		&__card-title {
			grid-area: title;

			margin-bottom: 0.5rem;
		}

		&__card-rating {
			display: flex;

			margin-bottom: 1.5rem;

			grid-area: rating;
		}

		&__card-price {
			grid-area: price;

			span {
				font-size: clamp(1.75rem, 2vmax, 2.5rem);

				color: var(--clr-text-3);
			}
		}

		&__card-text {
			grid-area: text;

			margin-bottom: 1.5rem;
		}

		&__card-button {
			font-size: clamp(1.25rem, 1vmax, 1.75rem);

			text-transform: uppercase;

			color: var(--clr-text-2);
			border-radius: 0.75rem;
			background: var(--clr-bg-1);

			padding-block: clamp(1rem, 1vmax, 1.45rem);
			padding-inline: clamp(1.5rem, 1.5vmax, 2rem);
		}
	}

	&__slider__buttons {
		grid-column: 1 / span var(--button-breakpoint-width);
	}
}

.blog {
	&__title {
		grid-column: 1/ -1;
		grid-row: 1;

		&__wrapper {
			display: flex;
			flex-direction: column;

			row-gap: 1rem;
		}
	}

	&__content {
		grid-column: 1 / -1;

		&__wrapper {
			display: grid;

			height: 100%;

			grid-template-columns: 1fr 1fr;
			column-gap: 2rem;
		}
	}

	&__image-block {
		margin-block: -1rem;

		img {
			border-radius: 1.625rem;
		}
	}

	&__text-block {
		display: flex;
		flex-direction: column;
		justify-content: center;

		&__wrapper {
			display: flex;
			flex-direction: column;

			row-gap: min(1vmax, 1.5rem);
		}

		h3 {
			font-size: clamp(2.5rem, 4.5vmax, 5.25rem);
		}

		p {
			font-size: clamp(1.125rem, 1.385vmax, 1.75rem);
			line-height: clamp(1.5rem, 3.275vmax, 3rem);
		}

		a {
			display: inline-flex;
			align-items: center;

			font-size: clamp(1.5rem, 1.385vmax, 2rem);
			font-weight: 400;

			color: var(--clr-text-3);

			column-gap: 1.5rem;

			svg {
				width: clamp(1.6875rem, 1.85vmax, 2rem);
			}
		}

		&__title {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&__text {
			display: -webkit-box;
			-webkit-line-clamp: 11;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&__read-more {
		}
	}
}

.planning {
	--breakpoint-title-width: 5;

	.grid-wrapper {
		align-items: center;
	}

	&__title {
		grid-column: 1 / var(--breakpoint-title-width);
		grid-row: 1;

		&__wrapper {
			display: flex;
			flex-direction: column;

			row-gap: 1rem;
		}

		h2 {
			font-size: clamp(2.5rem, 3.375vmax, 4.75rem);
		}

		//increase specify
		&#{&} p {
			font-size: clamp(1.25rem, 1vmax, 2.125rem);
			margin-bottom: 3.25rem;
		}
	}

	&__content {
		grid-column: var(--breakpoint-title-width) / -1;
		grid-row: 1;

		&__wrapper {
			display: flex;

			column-gap: 2rem;
		}
	}

	&__button {
		margin: 1rem;

		a {
			padding: 1.25rem;

			color: var(--clr-text-2);
			border-radius: 0.75rem;
			background: var(--clr-bg-1);

			&:before {
				display: block;

				content: '';

				width: 2.6875rem;
				height: 2.6875rem;

				position: absolute;
				z-index: -1;
				left: 0;

				background: var(--clr-bg-3);

				translate: -40% -100%;
			}

			&:after {
				display: block;

				content: '';

				width: 2.6875rem;
				height: 2.6875rem;

				position: absolute;
				z-index: -1;
				right: 0;
				bottom: 0;

				background: var(--clr-bg-4);

				translate: 40% 50%;
			}
		}
	}

	&__card {
		display: flex;
		flex-direction: column;
		justify-content: center;

		width: max(15.5rem, 15vw);
		min-width: max(15.5rem, 15vw);
		height: max(34rem, 26.5vh);

		row-gap: 1.25rem;

		* {
			color: var(--clr-heading);
		}

		p,
		h4 {
			font-size: clamp(1.125rem, 1vmax, 1.75rem);
		}

		h4 {
			font-family: var(--font-family-default);
			text-transform: uppercase;
		}

		h3 {
			font-size: clamp(1.75rem, 1.25vmax, 2.25rem);
			font-weight: 600;
		}
	}

	&__card-image {
		height: 24.9375rem;

		img {
			border-radius: 1.625rem;
		}
	}

	&__card-heading {
		display: grid;
		align-items: center;

		grid-template-areas: 'purpose price' 'title title' 'rating duration';
		grid-template-rows: repeat(3, auto);
		grid-template-columns: repeat(2, 1fr);
		row-gap: 0.75rem;
	}

	&__card-purpose {
		grid-area: purpose;
	}

	&__card-price {
		grid-area: price;
		justify-self: end;
	}

	&__card-title {
		grid-area: title;
	}

	&__card-rating {
		display: flex;

		grid-area: rating;
	}

	&__card-duration {
		grid-area: duration;
		justify-self: end;
	}
}

.gallery {
	&__title {
		grid-column: 1/ -1;
		grid-row: 1;

		&__wrapper {
			display: flex;
			flex-direction: column;

			row-gap: 1rem;
		}
	}

	&__slider {
		&__content {
			grid-column: span var(--breakpoint);

			&__wrapper {
				display: flex;

				padding-top: 1rem;

				column-gap: 2rem;
			}
		}

		&__card {
			display: flex;
			overflow: hidden;

			width: max(20vw, 20rem);
			min-width: max(20vw, 20rem);
			height: max(50vh, 20rem);

			border-radius: 1.65rem;

			&:nth-child(2) {
				bottom: 1rem;
			}
		}

		&__card-img {
			position: absolute;

			height: 100%;
			width: 100%;
		}
	}

	&__slider__buttons {
		grid-row: 1;
		grid-column: span 2;
	}
}

.expiriences {
	&__title {
		grid-column: 1/ -1;
		grid-row: 1;

		&__wrapper {
			display: flex;
			flex-direction: column;

			row-gap: 1rem;
		}
	}

	&__slider {
		&__content {
			grid-column: 1/-1;
			grid-row: 2;

			&__wrapper {
				display: flex;

				padding-top: 4rem;

				column-gap: 2rem;
			}
		}

		&__card {
			display: grid;

			width: max(33.275vw, 31.275rem);
			min-width: max(33.275vw, 31.275rem);

			border-radius: 0.75rem;
			background: var(--clr-bg-5);

			grid-template-areas: 'description' 'rating' 'name' 'job';
			grid-template-rows: repeat(4, auto);

			padding-inline: 2.5rem;
			padding-top: 3.75rem;
			padding-bottom: 2.5rem;

			p,
			h4 {
				font-size: clamp(1.125rem, 1vmax, 1.75rem);
			}

			h3 {
				font-size: clamp(1.5rem, 1.375vmax, 2.25rem);
			}
		}

		&__card-avatar {
			position: absolute;

			width: max(4rem, 4vmax);
			height: max(4rem, 4vmax);

			translate: 2.5rem -70%;

			img {
				border-radius: 6.25rem;
				border: 1px solid rgb(10 10 10 / 12%);
			}
		}

		&__card-description {
			margin-bottom: 1.25rem;

			p {
				display: -webkit-box;
				-webkit-line-clamp: 5;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			grid-area: description;
		}

		&__card-rating {
			display: flex;

			margin-bottom: 1.25rem;

			grid-area: rating;

			svg {
				width: 1.5rem;
				height: 1.5rem;
			}
		}

		&__card-name {
			grid-area: name;
		}

		&__card-job {
			grid-area: job;
		}
	}

	&__slider__buttons {
		grid-row: 3;
		grid-column: 1/-1;

		&__wrapper {
			justify-content: flex-end;
		}
	}
}

.footer {
	--footer-bg-color: var(--clr-bg-footer);

	padding-top: 15rem;
	padding-bottom: 8.75rem;

	background-color: var(--footer-bg-color);

	&__wrapper {
		display: grid;
		justify-content: space-between;

		grid-template-areas: 'logo content messengers';
		grid-template-columns: auto 1fr minmax(auto, 12.5rem);
		justify-items: center;
		gap: 2rem;
	}

	* {
		color: var(--clr-text-2);
	}

	h3 {
		font-size: 1.5rem;
		font-weight: 500;

		text-align: center;
	}

	p {
		font-size: 1.125rem;
	}

	&__logo {
		grid-area: logo;

		display: flex;
		align-items: center;
		flex-direction: column;

		width: max-content;

		p {
			font-size: 0.875rem;
		}

		img {
			width: 80%;
			height: 3rem;
		}
	}

	&__messengers {
		grid-area: messengers;

		display: flex;
		flex-direction: column;
		align-items: center;

		width: 100%;

		row-gap: 1.5rem;

		&-icons {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			column-gap: max(0.5rem, 1vmax);
			row-gap: 0.5rem;

			> * {
				width: 2rem;
				height: 2rem;
			}
		}
	}

	&__content {
		display: grid;
		justify-content: space-evenly;

		width: 100%;

		grid-template-columns: repeat(auto-fit, min(15vw, 15rem));
		grid-area: content;
		gap: 1rem;
	}

	&__info {
		* {
			display: block;

			text-align: center;
		}

		h3 {
			margin-bottom: 1rem;

			& ~ * {
				margin-bottom: 0.75rem;
			}
		}
	}
}

@media #{$media-large-desktop} {
}

@media #{$media-desktop} {
}

@media #{$media-medium-desktop} {
}

@media #{$media-small-desktop} {
	.hero {
		&__title {
			grid-column: 1 / -1;
		}

		&__form {
			&-inputs {
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(2, 1fr);
			}
		}
	}

	.planning {
		&__title {
			grid-column: 1 / -1;
			grid-row: 1;
		}

		&__content {
			grid-row: 2;
			grid-column: 1/-1;
		}
	}

	.footer {
		&__wrapper {
			grid-template-columns: repeat(2, 1fr);
			grid-template-areas: 'logo messengers' 'content content';
			row-gap: 4rem;
			column-gap: 2rem;
		}

		&__logo {
			justify-content: center;
		}

		&__messengers {
			justify-content: center;

			&-icons {
				width: 80%;
			}
		}

		&__content {
			display: grid;

			width: 100%;

			grid-template-columns: repeat(2, 1fr);
			row-gap: 1.5rem;
			column-gap: 0.75rem;
		}

		&__info {
			width: auto;
		}

		&__info:nth-child(odd) * {
			text-align: end;
		}

		&__info:nth-child(even) * {
			text-align: start;
		}
	}
}

@media #{$media-tablet} {
	.grid-wrapper {
		row-gap: 1rem;
	}

	.slider__buttons > div {
		justify-content: center;
	}

	.header {
		&__nav {
			display: none;
		}

		&__actions {
			display: none;
		}

		&__burger {
			display: block;
		}
	}

	.hero {
		.grid-wrapper {
			row-gap: 6.25rem;
		}

		&__form {
			grid-column: 1 / -1;
		}
	}

	.popular {
		&__title {
			grid-column: 1/-1;
		}

		&__slider {
			&__content {
				&__wrapper {
					overflow: auto;

					padding-bottom: 1rem;
				}
			}

			&__card {
				min-width: 100%;
			}

			&__buttons {
				grid-row: 3/4;
				grid-column: 1 / -1;

				&__wrapper {
					justify-self: center;
				}
			}
		}
	}

	.special {
		&__title {
			grid-column: 1/-1;
		}

		&__slider {
			&__card {
				min-width: 100%;
			}

			&__content {
				&__wrapper {
					overflow: auto;

					padding-bottom: 1rem;
				}
			}

			&__buttons {
				grid-row: 3/4;
				grid-column: 1 / -1;

				&__wrapper {
					justify-self: center;
				}
			}
		}
	}

	.blog {
		&__content {
			&__wrapper {
				grid-template-columns: auto;
				grid-template-rows: repeat(2, auto);
			}
		}

		&__image-block {
			height: max(19.725rem, 33.125vmax);

			margin-block: unset;
		}
	}

	.planning {
		.grid-wrapper {
			row-gap: 4rem;
		}

		&__title {
			grid-column: 1/-1;
		}

		&__content {
			&__wrapper {
				overflow: auto;

				padding-bottom: 1rem;
			}
		}

		&__button {
			align-self: center;
		}

		&__card {
			min-width: 100%;

			&.open {
				order: -1;
			}
		}
	}

	.gallery {
		&__title {
			grid-column: 1/-1;
		}

		&__slider {
			&__content {
				&__wrapper {
					overflow: auto;

					padding-bottom: 1rem;
				}
			}

			&__card {
				min-width: 100%;
			}

			&__buttons {
				grid-row: 3;
				grid-column: 1/-1;

				&__wrapper {
					justify-self: center;
				}
			}
		}
	}

	.expiriences {
		&__slider {
			&__content {
				&__wrapper {
					overflow: auto;

					padding-bottom: 1rem;
				}
			}

			&__card {
				min-width: 100%;
			}

			&__buttons {
				&__wrapper {
					justify-self: center;
				}
			}
		}
	}

	.footer {
		&__info {
			&:nth-child(odd) *,
			&:nth-child(even) * {
				text-align: center;
			}
		}
	}
}

@media #{$media-mobile} {
	.hero {
		height: unset;
		min-height: var(--100vh);
		padding-bottom: 6.25rem;

		&__title {
			grid-column: 1/ -1;

			h1 {
				font-size: 2.5rem;
			}
		}

		&__form {
			grid-column: 1/ -1;

			&__wrapper {
				flex-direction: column;

				height: unset;

				&:before {
					display: none;
				}
			}

			&-inputs {
				height: auto;
				padding: 1rem;
				padding-bottom: 3.75rem;

				border-radius: 1rem 1rem 0 0;

				grid-template-rows: repeat(4, 1fr);
				grid-template-columns: auto;
				column-gap: 0;
				row-gap: 1rem;
			}

			&-accept-button {
				justify-content: space-around;

				width: 100%;

				border-radius: 0 0 1rem 1rem;

				column-gap: 0;
				padding-inline: 1.25rem;
				padding-block: 2.5rem;
			}
		}
	}

	.expiriences {
		&__slider {
			&__card {
				width: 100%;
				min-width: 100%;
			}
		}
	}

	.footer {
		&__wrapper {
			grid-template-columns: 1fr;
			grid-template-areas: 'logo' 'messengers' 'content';
		}
	}
}
